body {
    background: rgb(210, 248, 210);
    padding: 0px;
   display: block;
    color: black;
}
h1 {
    color: green;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    border: 2px solid rgb(7, 245, 7);
    border-left: 0;
    border-right: 0;
    width: 100%;
    text-align: center;
}
ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}
li {
    float: right;
    list-style: none;
    margin: 10px;
    display: inline;
}
li a { 
    position:sticky;
    padding: 5px 10px;
    margin: 0px;
    border: 0px solid #f00;
    background: green;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
}
li.a:hover{
    background: #CCC;
    color: #000;
    border-color: #000;
    background: #000000;
    transition: 0.5s;
    opacity: 0.7;
}
.menu1:hover {
    background: greenyellow;
}
.menu2:hover {
    background: greenyellow;
}
.menu3:hover {
    background: greenyellow;
}
.menu4:hover {
    background: greenyellow;
}
h3 {
    color: green;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    border: 2px solid rgb(7, 245, 7);
    border-right: 0;
    border-left: 0;
    width: 100%;
    text-align: center;
}
table 
.pesquisa {
    width: 50%;
    color: green;
}
h4 {
    text-align: center;
    text-decoration: underline greenyellow;
    font-size:x-large;
    color: green;
}
.denise {
    position: fixed;
    width: 50px;
    height: 50px;
}
.img-alimentos { 
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.fome-zero {
    width: 50%;
    height: 50%;
    border: 1px solid black;
}
.feliz-html {
    width: 55%;
    height: 55%;
    border: 1px solid black;
}
.agro1 {
   display: block;
    width: 100%
}
.agro {
    width: 40%;
    height: 15%;
}
img.tomate {
    width: 40%;
    height: 15%;
}
.divtomate {
    text-align: center;
}
h5 {
    color: green;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    border: 2px solid rgb(7, 245, 7);
    border-left: 0;
    border-right: 0;
    width: 100%;
    text-align: center;
}
h6 {
    text-align: center;
    text-decoration: underline;
    font-size:x-large;
    line-height: 0px;
}
.divnina {
    text-align: center;
}
table {
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    height: auto;
}
iframe {
    border: 5px solid green;
    border-radius: 50px;
    width: 100%;

}
.caixa {
    width: 85%;
    margin: 0 auto;
}
nav {
      text-align: center;
}
nav ol {
    display: inline;
    margin: 0 0 0 15px;
}  
ol.a:hover{
    background: #CCC;
    color: #000;
    border-color: #000;
    background: #000000;
    transition: 0.5s;
    opacity: 0.7;
}
.lista1:hover {
    background: greenyellow;
}
.lista2:hover {
    background: greenyellow;
}
.lista3:hover {
    background: greenyellow;
}
.lista4:hover {
    background: greenyellow;
}
.lista5:hover {
    background: greenyellow;
}
.lista6:hover {
    background: greenyellow;
}
.lista7:hover {
    background: greenyellow;
}
.lista8:hover {
    background: greenyellow;
}
.lista9:hover {
    background: greenyellow;
}
.lista10:hover {
    background: greenyellow;
}
.lista11:hover {
    background: greenyellow;
}
.lista12:hover {
    background: greenyellow;
}
.lista13:hover {
    background: greenyellow;
}
.lista14:hover {
    background: greenyellow;
}
.lista15:hover {
    background: greenyellow;
}
.lista16:hover {
    background: greenyellow;
}
.lista17:hover {
    background: greenyellow;
}
.divformulario {
    width: 100%;
    border: 3px double green;
    color: green;
    background-color: rgb(140, 250, 186);
    padding: 1px;
    font-size: 15px;
    line-height: 1px;
    text-align: center;
}
.divdenise {
     background-color: white;
     background-size: cover;
     border: 2px solid green;
     width: 100%;
     height: 250px;
     line-height: 0px;
     text-align: center;
}
footer {
    bottom: 0px;
    background-color: rgb(155, 196, 155);
    color: black;
    width: 100%;
    height: 200px;
    text-align: center;
    text-size-adjust: 5px;
    line-height: 5px;
    border: 1px solid green;
}   
@media screen and (max-width: 998px min-width: 320px){
    .container {
        display: block;
    }
    .container__img {
        width: 50%;
    }
    .container__caixa {
        margin: 2em 2em;
    }
    .secundario {
        margin: 0;
        text-align: center;
    }
    .secundario__img {
        width: 50vw;
    }
    .dispositos__lista {
        display: block;
    }
}






    
    
   



